.App {
  background-image: url(./images/pexels-felix-mittermeier-1146134.jpg); 
  /* background: #bec8ff; */
  min-height: 100vh;
  background-size: cover;
  text-align: center;
  background-repeat:repeat-y;
}

#cardContainer{
  background: rgba(255, 255, 255, 0.953);
  color: rgb(0, 0, 0);
}

#trainingContainer{
  min-height: 100vh;
  display: inline-block;

}

#userTraining{
  max-width: 900px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:510px) {

    #intro{
      margin-left: -120px;
      width: 250px;    
  
    }

    #intro_2{
      margin-left: -120px;
      width: 250px; 

    }

    #btn_1{
      margin-bottom: 10px;
      margin-left: -35px;
    }

    #btn_2{
      margin-left: -45px;
    }

}

@media screen and (max-width:693px) {

  #intro{
    margin-left: -40px;
    width: 250px;    

  }

  #intro_2{
    margin-left: -40px;
    width: 250px; 

  }

  #btn_1{
    margin-bottom: 10px;
    margin-left: -35px;
    margin-right: 50px;
  }

  #btn_2{
    margin-left: -45px;
  }

}

@media screen and (max-width:392px) {

  #intro{
    margin-left: -180px;
    width: 250px;    

  }

  #intro_2{
    margin-left: -180px;
    width: 250px; 

  }

  #btn_1{
    margin-bottom: 10px;
    margin-left: -100px;
    margin-right: 50px;
  }

  #btn_2{
    margin-left: -110px;
  }

}

@media screen and (max-width:430px) {

  #intro{
    margin-left: -165px;
    width: 250px;    

  }

  #intro_2{
    margin-left: -165px;
    width: 250px; 

  }

  #btn_1{
    margin-bottom: 10px;
    margin-left: -80px;
    margin-right: 50px;
  }

  #btn_2{
    margin-left: -90px;
  }

}